.table-container {
  max-width: 800px;
  margin: 0 auto;
}

table { 
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

th.menu-column {
  background-color: transparent;
}

td:first-child,
th:first-child {
  border-left: none;
}

td:last-child,
th:last-child {
  border-right: none;
}

td img {
  max-width: 50px;
  height: auto;
}

.menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transform: rotate(90deg);
  transform-origin: center;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  padding: 8px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(270deg);
  transform-origin: left;
  left: -35px;
}

.menu:hover .menu-content {
  display: block;
}

.menu-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.menu-item:last-child {
  margin-bottom: 0;
}

.icon{
  font-weight: bold; 
}

.total-elements {
  text-align: left;
}

.table-header {
  display: flex;
  justify-content:space-between;
  padding: 5px;
}

.add-button {
  background-color: rgb(239, 224, 15);
  color: black;
  border: none;
  padding: 12px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #7a7474;
  border-radius: 50%;
  margin-left: 4px;
  position: absolute;
}

.exclamation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
}

.footer{
  display: flex;
  justify-content: space-between; 
  padding: 5px;
} 

.select {
  margin: 20px 12px ;
  padding: 5px 12px 4px 5px;
}

.search {
  padding: 5px;
  font-size: 14px;
  height: 1.5rem;
  border: 1px solid black; 
  border-radius: 5px;
}
